*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {  
    font-family: 'Roboto';
}
.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
header {
    padding: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_container .logo{
    width: 144px;
    height: 35px;
}
.header_container .menu .menu_list{
    display: flex;
    gap: 54px;
}
select{
    border: none;
    cursor: pointer;    
}
.manu_list span{
    cursor: pointer;
}
.auth{
    display: flex;
    align-items: center;
    gap: 24px;
}
.sign_up{
    cursor: pointer;
    text-decoration: none;

}
.auth .sign_up span{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    background-color: rgba(37, 99, 235, 1);
    padding: 12px 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5;
    font-family: 'Roboto';
    cursor: pointer;
    border-radius: 8px;  
    margin-right: 20px;  
    transition: all 0.5s ease-in-out;
}
.sign_up span:hover{
    box-shadow: 6px 15px 40px black;
    background-color: rgb(93, 93, 186);
}

.auth .log_in{
    text-decoration: none;
    color: rgba(37, 99, 235, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5;
    font-family: 'Roboto';
    cursor: pointer;
}



/* hero section */

.hero{
    padding: 80px;
}

.hero_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_box_info h1{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;
    color: rgba(15, 23, 42, 1);
}

.hero_box_info p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: rgba(71, 85, 105, 1);
    margin-top: 24px;
    margin-bottom: 24px;
}
.sign{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
}

.sign input{
    width: 408px;
    height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 12px 16px;
    gap: 8px;
    font-size: 16px;
    line-height: 23px;
    font-family: 'Roboto';
}

.sign_upp span{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    background-color: rgba(37, 99, 235, 1);
    padding: 12px 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border-radius: 8px;  
    margin-right: 20px;  
    transition: all 0.5s ease-in-out;
}
.sign_upp span:hover{
    box-shadow: 6px 15px 40px black;
    background-color: rgb(93, 93, 186);
}
.sign_upp {
    text-decoration: none;
}

/* Enjoy section */

.enjoy{
    padding: 80px;
}
.enjoy_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
.enjoy_container .enjoy_img img{
    width: 600px;
    height: 440px;
}
.enjoy_box_info h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: rgba(15, 23, 42, 1);
}
.enjoy_box_info p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: rgba(71, 85, 105, 1);
    margin-top: 24px;
    margin-bottom: 24px;
}
.enjoy_box_info a{
    text-decoration: none;
    color: rgba(37, 99, 235, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5;
    font-family: 'Roboto';
    cursor: pointer;
}

/* Get_all section */

.get_all{
    padding: 80px;
}
.get_all_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 128px;
}
.get_all_container .get_all_img img{
    width: 492px;
    height: 412px;
}
.get_all_box_info h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: rgba(15, 23, 42, 1);
}
.get_all_box_info p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: rgba(71, 85, 105, 1);
    margin-top: 24px;
    margin-bottom: 24px;
}
.get_all_box_info a{
    text-decoration: none;
    color: rgba(37, 99, 235, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5;
    font-family: 'Roboto';
    cursor: pointer;
}

/* Improve section */
.improve{
    padding: 160px 80px;
}

.improve_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
.improve_container .improve_img img{
    width: 492px;
    height: 412px;
}

.improve_box_info h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: rgba(15, 23, 42, 1);
}
.improve_box_info img{
    width: 600px;
    height: 48px;
    margin-top: 24px;
    cursor: pointer;
}
.improve_box_info p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: rgba(71, 85, 105, 1);
    margin-top: 24px;
    margin-bottom: 24px;
}
.improve_box_info a{
    text-decoration: none;
    color: rgba(37, 99, 235, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5;
    font-family: 'Roboto';
    cursor: pointer;
}

/* Join our community section */

.join{
    width: 1280px;
    height: 392px; 
    margin-left: 150px; 
    border-radius: 30px;    
    background: linear-gradient(99.45deg, #312E81 0%, #1E40AF 0.01%, #1E3A8A 46%, #701A75 96.97%);
}

.join_info{     
    padding: 80px;
}

.join_info h2{
    text-align: center;
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 56px;
    line-height: 62px;
    color: rgba(255, 255, 255, 1);
}
.join_info p{
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: rgba(255, 255, 255, 1);
    margin-top: 24px;
    margin-bottom: 45px;
}
.join_info a{
    padding: 20px 50px;
    margin-left: 440px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 24px;
    border-radius: 8px;
    line-height: 24px;
    letter-spacing: 0.5;
    font-family: 'Roboto';
    cursor: pointer;
    background-color: rgba(37, 99, 235, 1);
    transition: all 0.5s;
}
.join_info a:hover{
    background-color: rgba(255, 255, 255, 1);
    color: rgba(37, 99, 235, 1);
    border: 2px solid rgba(37, 99, 235, 1);
    box-shadow: 4px 4px 5px rgba(37, 99, 235, 1);
}